/* *******************************First Article index**************************** */


    .firstArt {

        font-size: 1.2em;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        overflow: hidden;
        padding-right: 20px;
        text-align: left;
    }