    html,
    body {
      height: 100%;
    }
    
    body {
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }
    
    .form-signin {
      max-width: 650px;
      padding: 15px;
    }
    
    .form-signin .form-floating:focus-within {
      z-index: 1;
    }
    
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 2;
      border-bottom-left-radius: 2;
    }
    
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 2;
      border-top-right-radius: 2;
    }
    
    /* *****regle regex mdp****** */
    span{
      display:none;
    }

    /* *******Supprssion de surbrillance dans l'input *************/
    
    .form-control:focus {
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
    }