body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

.navbar {
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
}

main {
    margin-top: 200px;

}


a {
    color: black;
    text-decoration: none !important;

}

/* 
a:hover {
    background-color: white;
} */


footer {
    margin-top: 100px;

}
