.big {
    background-color: rgb(239, 244, 249);
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.sec2 {
    background-color: rgb(254, 254, 255);
    border-radius: 1em;
}

.sec3 {
    background-color: rgb(219, 252, 255);
    border-radius: 1em;
}

.sec4 {
    display: block;
    width: 100%;
    font-weight: bold;
    text-align: center;
    border-radius: 1em;

}

.sec5 {
    background-color: rgb(210, 210, 250);
    border-radius: 1em;
}

.sec6 {
    display: block;
    background-color: transparent;
    border: 0.3rem solid rgb(1, 1, 1);
    border-radius: 1em;
    padding: 0.5em 1em;
    width: 100%;
    font-weight: bold;
    text-align: center;

}

.sec7 {
    display: block;
    background-color: transparent;
    border: 0.3rem solid rgb(239, 165, 165);
    border-radius: 1em;
    padding: 0.5em 1em;
    width: 100%;
    font-weight: bold;
    text-align: center;

}

.sec8 {
    display: block;
    background-color: transparent;
    border: 0.3rem solid rgb(1, 1, 1);
    border-radius: 1em;
    padding: 0.5em 1em;
    width: 100%;
    font-weight: bold;
    text-align: center;

}
