a {
    color: black;

}

a:hover {
    background-color: white;
}


/* *******Supprssion de surbrillance dans l'input *************/

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* *****regle regex mdp****** */

span {
    display:none;
}